.divBase{
    padding: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
}
.buttonBase{
    padding: 0px 20px;
    border-radius: 50px;
}
.baseButton{
    padding-left: 10px;
}
.buttonBase{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    border-color: #316497;
    color: white;
    font-size: 19px;
    font-weight: normal;
    background-color: #316497;
    cursor: pointer;
}
.buttonBase:hover{
    background-color: #ffffff;
    color: #316497;   
}
.buscarBase{
    background-color: transparent;
    margin-left:10px;
    height: 30px;
    width: 250px;
    border-radius: 50px;
    border: none;
    outline: none;
}
.baseBuscar{
    margin-left:200px;
    display: flex;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 50px;
    background-color: #d1d1d1;
    padding-right: 20px;
}
