.pesta침as{
    padding: 0px 45px;
}
.baseTab{
    width: 100%;
    border-left: 1px solid #ffff !important;
    cursor: pointer;
}
.baseTab:hover{
    background-color: #074e8c !important;
    color: rgb(255, 255, 255) !important;
}
.activeTab{
    background-color: #074e8c !important ;
    color: #ffff !important;
}
.navegador{
    display: flex;
    justify-content: center;
}
.tituloPesta침a{
    font-size: 12px;
}

/* informacion Personal */

.formHojaDeVida{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr ;  
    grid-template-rows:repeat(14, 1fr);
    height: 585px;
    margin: 10px 20px;
    border-radius: 50px;
    padding: 10px 20px 60px 130px;
    background-color: #eeeeee;
}  
.onePersonal{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.twoPersonal{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.threePersonal{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.fourPersonal{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.fivePersonal{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.sixPersonal{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.sevenPersonal{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.eightPersonal{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.ninePersonal{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.tenPersonal{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.elevenPersonal{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}
.docePersonal{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}
.trecePersonal{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}
.catorcePersonal{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}
.quincePersonal{
    grid-column: 1 / 2;
    grid-row: 8 / 9;
}
.dieciseisEntrevistar{
    grid-column: 2 / 3;
    grid-row: 8 / 9;
}
.diecisietePersonal{
    grid-column: 1 / 2;
    grid-row: 9 / 10;
}
.dieciochoPersonal{
    grid-column: 2 / 3;
    grid-row: 9 / 10;
}
.diecinuevePersonal{
    grid-column: 1 / 2;
    grid-row: 10 / 11;
}
.veintePersonal{
    grid-column: 2 / 3;
    grid-row: 10 / 11;
}
.veintiunoPersonal{
    grid-column: 1 / 2;
    grid-row: 11 / 12;
}
.veintidosPersonal{
    grid-column: 2 / 3;
    grid-row: 11 / 12;
}
.veintitresPersonal{
    grid-column: 1 / 2;
    grid-row: 12 / 13;
}
.veinticuatroPersonal{
    grid-column: 2 / 3;
    grid-row: 12 / 13;
}
.veinticincoPersonal{
    grid-column: 1 / 2;
    grid-row: 13 / 14;
}
.veintiseisPersonal{
    grid-column: 2 / 3;
    grid-row: 13 / 14;
}
.veintisietePersonal{
    grid-column: 1 / 2;
    grid-row: 14 / 15;
}
.veintiochoPersonal{
    grid-column: 2 / 3;
    grid-row: 14 / 15;
}
.veintinuevePersonal{
    grid-column: 1 / 2;
    grid-row: 15 / 16;
}
.treintaPersonal{
    grid-column:2 / 3;
    grid-row: 15 / 16;
}
.treintayunoPersonal{
    grid-column:1 / 3;
    grid-row: 16 / 17;
    padding-top: 10px;
    margin-right: 150px;
}
.treintaydosPersonal{
    grid-column:1 / 2;
    grid-row: 17 / 18;
}
.treintaytresPersonal{
    grid-column:2 / 3;
    grid-row: 17 / 18;
    padding-top: 30px;
}
.inPersonal{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
label{
    font-weight: 900;
    font-size: 22px;
    color: #073f6f;
    padding-bottom: 5px;
}
input{
    width: 80%;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: #d1d1d1;
}
.btnCancelarInfoPersona{
    color: #ffffff;
    font-size: 28px;
    width: 220px;
    align-content: center;
    height: 60px;
    background: linear-gradient(120deg, #306485 50%,#65bce8 100%);
    border-radius: 15px;
    border: none; 
}
.btnGuardarInfoPersona{
    color: #ffffff;
    font-size: 28px;
    width: 220px;
    align-content: center;
    height: 60px;
    background: linear-gradient(120deg, #306485 50%,#65bce8 100%);
    border-radius: 15px;
    border: none;  
}
.btnGuardarInfoPersona:hover{
    color: #ffffff;
    background: linear-gradient(120deg, #65bce8 50%,#306485 100%); 
}
.btnCancelarInfoPersona:hover{
    color: #ffffff;
    background: linear-gradient(120deg, #65bce8 50%,#306485 100%); 
}
.imagenPuntosPersonal{
    margin-top: 35px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url(../../../assets/shape/shapePuntos.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#textMed{
    width: 80%;
    height: 60px;
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    resize: none;
    background-color: #d1d1d1;
    margin: 0px 5px 0px 0px;
}
.selectMed{
    width: 78%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 20px;
}
.divNext{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#agregarMed{
    width: 30px;
    height: 30px;
    font-size: large;
    border-radius: 50%;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 0px; 
}
#buttonNext{
    width: 60px;
    height: 60px;
    font-size: large;
    border-radius: 50%;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0p    x 0px 4px 0px; 
    margin-right: 20px;
}
#buttonBack{
    width: 60px;
    height: 60px;
    font-size: large;
    border-radius: 50%;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 10px; 
    margin-right: 20px;
}
/* fin informacion Personal */


/* Contacto de emergencia */

.formConEmergencia{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns:repeat(8, 1fr);  
    grid-template-rows:repeat(6, 1fr);
    height: 585px;
    margin: 10px 20px;
    border-radius: 50px;
    padding: 10px 20px 60px 140px;
    background-color: #eeeeee;
}  
.oneConEmergencia{
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}
.twoConEmergencia{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.threeConEmergencia{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}
.fourConEmergencia{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.fiveConEmergencia{
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}
.sixConEmergencia{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}
.sevenConEmergencia{
    grid-column: 5 / 8;
    grid-row: 4 / 5;
}
.eightConEmergencia{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    padding: 20px 0px 0px 30px;
}
.nineConEmergencia{
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    padding: 25px 0px 0px 10px;
}
.tenConEmergencia{
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    padding: 20px 0px 0px 30px;
}
#ConEmergencia{
    width: 98%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}
#buttonAgregar{
    width: 150px;
    height:50px;     
    font-size: 20px;
    border-radius: 10px;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 0px;    
    margin-right: 20px;
}
#selectConEmergencia{
    width: 98%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}

/* Contacto de emergencia */

/* Composicion Familiar */

.formComFamiliar{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns:repeat(8, 1fr);  
    grid-template-rows:repeat(6, 1fr);
    height: 585px;
    margin: 10px 20px;
    border-radius: 50px;
    padding: 10px 20px 60px 140px;
    background-color: #eeeeee;
}  
.oneComFamiliar{
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}
.twoComFamiliar{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.threeComFamiliar{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}
.fourComFamiliar{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.fiveComFamiliar{
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}
.sixComFamiliar{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}
.sevenComFamiliar{
    grid-column: 5 / 8;
    grid-row: 4 / 5;
}
.eightComFamiliar{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    padding: 20px 0px 0px 30px;
}
.nineComFamiliar{
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    padding: 25px 0px 0px 10px;
}
.tenComFamiliar{
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    padding: 20px 0px 0px 30px;
}
#ComFamiliar{
    width: 98%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}
#buttonAgregar{
    width: 150px;
    height:50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 0px; 
    margin-right: 20px;
}
#selectComFamiliar{
    width: 98%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}

/* Contacto de emergencia */

/* Formaci칩n Academica */

.formFormacionAcademica{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns:repeat(8, 1fr);  
    grid-template-rows:repeat(6, 1fr);
    height: 585px;
    margin: 10px 20px;
    border-radius: 50px;
    padding: 10px 20px 60px 140px;
    background-color: #eeeeee;
}  
.oneFormacionAcademica{
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}
.twoFormacionAcademica{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.threeFormacionAcademica{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}
.fourFormacionAcademica{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.fiveFormacionAcademica{
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}
.sixFormacionAcademica{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}
.sevenFormacionAcademica{
    grid-column: 5 / 8;
    grid-row: 4 / 5;
}
.eightFormacionAcademica{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    padding: 20px 0px 0px 30px;
}
.nineFormacionAcademica{
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    padding: 25px 0px 0px 10px;
}
.tenFormacionAcademica{
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    padding: 20px 0px 0px 30px;
}
#FormacionAcademica{
    width: 98%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}
#buttonAgregar{
    width: 150px;
    height:50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 0px; 
    margin-right: 20px;
}

/* Formaci칩n Academica */

/* Experiencia Laboral */

.formExpLaboral{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns:repeat(8, 1fr);  
    grid-template-rows:repeat(7, 1fr);
    height: 585px;
    margin: 10px 20px;
    border-radius: 50px;
    padding: 10px 20px 60px 140px;
    background-color: #eeeeee;
}  
.oneExpLaboral{
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}
.twoExpLaboral{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.threeExpLaboral{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}
.fourExpLaboral{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.fiveExpLaboral{
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}
.sixExpLaboral{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}
.sevenExpLaboral{
    grid-column: 5 / 8;
    grid-row: 4 / 5;
}
.eightExpLaboral{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}
.nineExpLaboral{
    grid-column: 5 / 8;
    grid-row: 5 / 6;
}
.tenExpLaboral{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    padding: 20px 0px 0px 30px;
}
.onceExpLaboral{
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    padding: 25px 0px 0px 10px;
}
.doceExpLaboral{
    grid-column: 6 / 7;
    grid-row: 6 / 7;
    padding: 20px 0px 0px 30px;
}
#ExpLaboral{
    width: 98%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}
#buttonAgregar{
    width: 150px;
    height:50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 0px; 
    margin-right: 20px;
}

/* Experiencia Laboral */

/* Referencia Personal */

.formResPersonal{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns:repeat(8, 1fr);  
    grid-template-rows:repeat(4, 1fr);
    height: 585px;
    margin: 10px 20px;
    border-radius: 50px;
    padding: 10px 20px 60px 140px;
    background-color: #eeeeee;
}  
.oneResPersonal{
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}
.twoResPersonal{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.threeResPersonal{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}
.fourResPersonal{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.fiveResPersonal{
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}
.sixResPersonal{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding: 20px 0px 0px 30px;
}
.sevenResPersonal{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    padding: 25px 0px 0px 10px;
}
.eightResPersonal{
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    padding: 20px 0px 0px 30px;
}
#ResLaboral{
    width: 98%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}
#buttonAgregar{
    width: 150px;
    height:50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 0px; 
    margin-right: 20px;
}

/* Referencia Personal  */

/* Seguridad Social */

.formSeguridadSoc{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns:repeat(8, 1fr);  
    grid-template-rows:repeat(3, 1fr);
    height: 585px;
    margin: 10px 20px;
    border-radius: 50px;
    padding: 100px 20px 60px 140px;
    background-color: #eeeeee;
}  
.oneSeguridadSoc{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.twoSeguridadSoc{
    grid-column: 5 / 8;
    grid-row: 1 / 2;
}
.threeSeguridadSoc{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.fourSeguridadSoc{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}
.fiveSeguridadSoc{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 20px 0px 0px 30px;
}
.sixSeguridadSoc{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    padding: 15px 0px 0px 10px;
}
.sevenSeguridadSoc{
    grid-column: 6 / 7;
    grid-row: 3 / 4;
    padding: 20px 0px 0px 30px;
}
#SeguridadSoc{
    width: 98%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}
#buttonAgregar{
    width: 150px;
    height:50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 0px; 
    margin-right: 20px;
}

/* Seguridad Social  */

/* Documentos */

.formDocs{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns:repeat(8, 1fr);  
    grid-template-rows:repeat(3, 1fr);
    height: 585px;
    margin: 10px 20px;
    border-radius: 50px;
    padding: 100px 20px 60px 140px;
    background-color: #eeeeee;
}  
.oneDocs{
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}
.twoDocs{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.threeDocs{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}
.fourDocs{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 20px 0px 0px 30px;
}
.fiveDocs{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    padding: 25px 0px 0px 10px;
}
.sixSeguridadSoc{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    padding: 20px 0px 0px 30px;
}
#Docs{
    width: 98%;
    height: 40px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}
#buttonAgregar{
    width: 150px;
    height:50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 0px; 
    margin-right: 20px;
}

/* Documentos  */