.formNuevoCargo{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr ;  
    grid-template-rows:repeat(6, 1fr);
    height: 600px;
    margin: 20px 50px;
    border-radius: 50px;
    padding: 30px 20px 10px 100px;
    background-color: #eeeeee;
}  
.oneNuevoCargo{
    padding: 0px 160px 0px 0px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.twoNuevoCargo{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.threeNuevoCargo{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.fourNuevoCargo{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.fiveNuevoCargo{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.sixNuevoCargo{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.sevenNuevoCargo{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.eightNuevoCargo{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
.nineNuevoCargo{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    padding: 30px 0px 0px 80px;
}
.tenNuevoCargo{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    padding: 30px 0px 0px 40px;
}
h1{
    padding: 20px 0px 10px 0px;
    color:#073f6f;
    font-size: 1.9rem;
}
label{
    font-weight: 900;
    font-size: 22px;
    color: #073f6f;
    padding-bottom: 10px;
}
input{
    width: 80%;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: #d1d1d1;
}
.inNuevoCargo{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
select{
    background-color: #d1d1d1;
    border: 0;
    width: 80%;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 19px;
}
.imagenPuntosNuevoCargo{
    margin-top: 35px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url(../../../assets/shape/shapePuntos.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#recomendacion{
    width: 87%;
    border-radius: 30px;
    padding: 15px 10px;
    border: none;
    resize: none;
    background-color: #d1d1d1;
}
.btnCancelarNuevoCargo{
    color: #ffffff;
    font-size: 28px;
    width: 220px;
    align-content: center;
    height: 60px;
    background: linear-gradient(120deg, #306485 50%,#65bce8 100%);
    border-radius: 15px;
    border: none; 
}
.btnGuardarNuevoCargo{
    color: #ffffff;
    font-size: 28px;
    width: 220px;
    align-content: center;
    height: 60px;
    background: linear-gradient(120deg, #306485 50%,#65bce8 100%);
    border-radius: 15px;
    border: none;  
}
.btnGuardarNuevoCargo:hover{
    color: #ffffff;
    background: linear-gradient(120deg, #65bce8 50%,#306485 100%); 
}
.btnCancelarNuevoCargo:hover{
    color: #ffffff;
    background: linear-gradient(120deg, #65bce8 50%,#306485 100%); 
}