.Configuracion{
    display: flex;
    width: 100%;   
}
.configuracionContainer{
    flex: 3;
}
.breadcrumb{
    display: flex;
    padding: 15px;
}
.botonConfiguracion{
    width: 95%;
    flex-direction: row;
    padding: 10px 0px 0px 5px;
}
