.formVerContactar{
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr ;  
    grid-template-rows:repeat(12, 1fr);
    height: 600px;
    margin: 20px 50px;
    border-radius: 50px;
    padding: 30px 20px 10px 100px;
    background-color: #eeeeee;
}  
.oneVerContactar{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.twoVerContactar{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.threeVerContactar{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.fourVerContactar{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.fiveVerContactar{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.sixVerContactar{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.sevenVerContactar{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.eightVerContactar{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.nineVerContactar{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.tenVerContactar{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.onceVerContactar{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}
.doceVerContactar{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}
.treceVerContactar{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}
.catorceVerContactar{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}
.quinceVerContactar{
    grid-column: 1 / 2;
    grid-row: 8 / 9;
}
.dieciseisVerContactar{
    grid-column: 2 / 3;
    grid-row: 8 / 9;
}
.diecisieteVerContactar{
    grid-column: 1 / 2;
    grid-row: 9 / 10;
}
.dieciochoVerContactar{
    grid-column: 2 / 3;
    grid-row: 9 / 11;
}
.diecinueveVerContactar{
    grid-column: 1 / 2;
    grid-row: 10 / 11;
}
.veinteVerContactar{
    grid-column: 1 / 2;
    grid-row: 11 / 12;
}
.veintiunoVerContactar{
    grid-column: 1 / 2;
    grid-row: 12 / 13;
    padding-left: 16%;
}
.veintidosVerContactar{
    grid-column: 2 / 3;
    grid-row: 12 / 13;
    padding-left: 17%;
}

h1{
    padding: 20px 0px 10px 0px;
    color:#073f6f;
}
label{
    font-weight: 900;
    font-size: 22px;
    color: #073f6f;
    padding-bottom: 10px;
}
input{
    width: 80%;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: #d1d1d1;
}
.inVerContactar{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
select{
    background-color: #d1d1d1;
    border: 0;
    width: 80%;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 19px;
}

.imagenPuntosVerContactar{
    margin-top: 35px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url(../../../../assets/shape/shapePuntos.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.observacion{
    width: 80%;
    height: 300PX;
    border-radius: 30px;
    padding: 15px 10px;
    border: none;
    resize: none;
    background-color: #d1d1d1;
}
.retirar{
    width: 81%;
    height: 110PX;
    border-radius: 30px;
    padding: 15px 10px;
    border: none;
    resize: none;
    background-color: #d1d1d1;
}
.btnCancelarVerContactar{
    color: #ffffff;
    font-size: 28px;
    width: 220px;
    align-content: center;
    height: 60px;
    background: linear-gradient(120deg, #306485 50%,#65bce8 100%);
    border-radius: 15px;
    border: none; 
}
.btnGuardarVerContactar{
    color: #ffffff;
    font-size: 28px;
    width: 220px;
    align-content: center;
    height: 60px;
    background: linear-gradient(120deg, #306485 50%,#65bce8 100%);
    border-radius: 15px;
    border: none;  
}
.btnGuardarVerContactar:hover{
    color: #ffffff;
    background: linear-gradient(120deg, #65bce8 50%,#306485 100%); 
}
.btnCancelarVerContactar:hover{
    color: #ffffff;
    background: linear-gradient(120deg, #65bce8 50%,#306485 100%); 
}