.Seleccion{
    display: flex;
    width: 100%;
}
.seleccionContainer{
    flex: 3;
}
.breadcrumb{
    display: flex;
    padding: 15px;
}
.botonSeleccion{
    width: 90%;
    flex-direction: row;
    padding: 10px 0px 0px 30px;
}
