.documentacionExtranjero1{
    width: 30%;
    height: 40px;
    font-size: 16px;
    margin: 10px 20px;
}
.div1{
    margin: 20px;
}
#agregarButton{
    width: 30px;
    height: 30px;
    font-size: large;
    border-radius: 50%;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px 0px; 
}
.numeroDocs{
    width: 30%;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: #d1d1d1;
    margin-left: 140px;
}
#agregarEditDelete{
    width: 30px;
    height: 30px;
    font-size: large;
    border-radius: 50%;
    border-color: #316497;
    background-color: #316497;
    color: #ffffff;
    border: none; 
    margin-left: 5px;
    padding: 0px 1px 0px 0px;
}
#agregarButton:hover{
    color: #ffffff;
    background: linear-gradient(120deg, #65bce8 50%,#306485 100%); 
}
#agregarEditDelete:hover{
    color: #ffffff;
    background: linear-gradient(120deg, #65bce8 50%,#306485 100%); 
}