.gestionar{
    display: flex;
    width: 100%;   
}
.gestionarContainer{
    flex: 3;
}
.breadcrumb{
    display: flex;
    padding: 15px;
}
.boton{
    display: flex;
    padding: 10px 0px 0px 50px;
    flex-direction: row;
}
